{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Manage <b>Employees</b> <button type="button" class="btn btn-success float-right"
                data-toggle="modal" data-target="#mymodal">Add New Employee</button> </h2>

                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissible" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">close</span>

                    </button>

                    {{message}}

                </div>



                {% endfor %}

                {% endif %}

                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Hiring Date</th>
                        <th>Specialization</th>

                    </tr>

                    {% for row in employees  %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.first_name}}</td>
                        <td>{{row.second_name}}</td>
                        <td>{{row.hiring_date}}</td>
                        <td>Java, C++, Data Science</td>

                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                        </td>

                    </tr>

                   <!-- Modal Edit Employee-->
<div id="modaledit{{row.id}}" class="modal fade" role="dialog">
   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <h4 class="modal-title">Update Information</h4>


         </div>


         <div class="modal-body">


            <form action="{{url_for('update')}}" method="POST">


               <div class="form-group">


                  <label>First Name:</label>
                   <input type="hidden"  name="id" value="{{row.id}}">

                  <input type="text" class="form-control" name="first_name" value="{{row.first_name}}">


               </div>


               <div class="form-group">


                  <label>Second Name:</label>


                  <input type="text" class="form-control" name="second_name" value="{{row.second_name}}">


               </div>



               <div class="form-group">


                  <label>Hiring Date:</label>

                  <input type="date" class="form-control" name="hiring_date" value="{{row.hiring_date}}">


               </div>


               <div class="form-group">


                  <label>Specialization:</label>

                  <input type="text" class="form-control" name="specialization" value="Java, Data Science, C++">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>

</div>

                    {% endfor %}

                </table>


            </div>

            <!-- Modal Add Employee-->


<div id="mymodal" class="modal fade" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">

            <h4 class="modal-title">Add Employee</h4>
         </div>
         <div class="modal-body">

            <form action="{{url_for('insert')}}" method="POST">


               <div class="form-group">

                  <label>First Name:</label>
                  <input type="text" class="form-control" name="first_name" required="1">


               </div>


                <div class="form-group">


                  <label>Second Name:</label>
                  <input type="text" class="form-control" name="second_name" required="1">


               </div>


                <div class="form-group">


                  <label>Hiring Date:</label>
                  <input type="date" class="form-control" name="hiring_date" required="1">


               </div>

                <div class="form-group">


                  <label>Specialization:</label>
                  <input type="text" class="form-control" name="specialization" required="1" value="Java, C++, Data Science">


               </div>

               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Add Employee</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>


        </div>
    </div>
</div>

{% endblock %}